.country {
    border: 2px solid salmon;
    padding: 20px;
}

.country img {
    width: 100%;
    height: auto;
    display: block;
}

button {
    color: var(--text-h);
    font-size: 16px;
    margin: 5px;
    border-radius: 6px;
    background: var(--social-bg);
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: box-shadow 0.3s;
    cursor: pointer;
}

.country-visited {
    background-color: greenyellow;
    color: black;
}